code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media print {
  .App-header {
    display: none;
    min-height: 0;
  }
  .card-search {
    display: none;
  }
  .card-info {
    display: none;
  }
  .title {
    display: none;
  }
  .page-break-clear {
    clear: both;
  }
  .page-break {
    page-break-after: always;
  }
}

.card-results .card>img {
  width: 150px;
}

.card-results .card {
  width: 150px;
}

.card {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-right: 10px;
}

.card-list .card>img {
  width: 2.4375in;
  height: 3.4375in;
}

.card-list .card {
  width: 2.4375in;
}

@media print {
  .card-list .card {
    margin: 0;
    padding: 0;
    height: 3.4375in;
  }
  .card-list {
    margin: 0;
    padding: 0;
    font-size: 0;
  }
}

.card>.watermark {
  color: white;
  transform: rotate(-45deg);
  font-size: 0.42in;
  opacity: 0.65;
  position: absolute;
  text-shadow: 2px 2px black;
  top: 1in;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.card-results .card>.watermark {
  font-size: 36px;
  top: 50px;
}

ul {
  list-style-type: none;
}

@media screen {
  .App {
    text-align: center;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen {
  .App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}