code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media print {
  @page {
    size: auto !important
  }
  .App-header {
    display: none;
    min-height: 0;
  }
  .card-search {
    display: none;
  }
  .no-print {
    display: none;
  }
  .title {
    display: none;
  }
  .page-break-clear {
    clear: both;
  }
  .page-break {
    page-break-after: always;
  }
  .fab-card>.watermark {
    opacity: 0.85;
  }
}

.title {
  margin-bottom: 10px;
}

.card-search-header {
  margin-bottom: 5px;
  text-align: center;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.card-search .fab-card>img {
  width: 150px;
  margin: 5px;
}

.card-search .fab-card {
  font-size: 12px;
  width: 162px;
}

.card-search .card-body {
  padding: 10px;
}

.card-search .fab-card>.watermark {
  font-size: 36px;
  top: 50px;
}

.fab-card {
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 5px;
}

.fab-card .dropdown {
  display: inline-block;
}

.card-list .fab-card>img {
  width: 2.4375in;
  height: 3.4375in;
  margin: 8px;
}

@media print {
  .card-list .fab-card {
    margin: 0;
    padding: 0;
    height: 3.4375in;
    width: 2.4375in;
    border: none;
  }
  .card-list {
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
  }
  .card {
    background-color: transparent;
  }
}

.fab-card>.watermark {
  color: white;
  transform: rotate(-45deg);
  font-size: 0.42in;
  opacity: 0.75;
  position: absolute;
  text-shadow: 2px 2px black;
  top: 1in;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.search-modal {
  width: 90%;
  max-width: none!important;
}

.main {
  margin-top: 60px;
  text-align: center;
}

.App {
  width: 100%;
}